*{
padding:0;
margin:0px;
}
body{
overflow-x: hidden;
}
li{
list-style: none!important;
}
 a{
text-decoration: none!important;
}
.p{
font-size: 12px!important;
}
.col-lg-1half {
flex: 0 0 6.1%!important;
width: 6.1%!important;
}
.col-lg-11half {
flex: 0 0 93.9%!important;
width: 93.9%!important;
}
/*-----------------------------------------header section----------------------------------*/
.header-top .row{
font-size: 13px;
}
.he1{
background-color:#0e2529;
height: 70px;
}
.he2{
background-color:#e2ddeb;
height: 70px; 
}
.h3{
height: 70px;
}
.he1 i{
color:#6d888c;
}
.he1 i:hover {
color:white;
}
.he2 a:hover{
color:#2f125c; 
}
.he2 a{
color:#2f125c;
}
.he3 a:hover{
color:#2f125c; 
}
.he3 a{
color:#2f125c; 
}
.he1 .cal{
color: white;
position:absolute;
padding: 15px 30px 5px 30px;
background-color:#2f125c;
z-index: 14;
left:200px;
}
.cal1{
font-size: 22px;
}
.cal2{
font-size: 50px;
}
.hr{
position: absolute;
border-bottom: 3px solid #6d888c;
width: 20%;
height: 2px;
margin-left: 400px;
top: 30px;
}



/*-----------------------------------------sidebar nav section----------------------------------*/
.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
overflow-x: hidden;
transition: 0.5s;
}
.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block;
transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

@media screen and (max-height: 450px){
.overlay a {font-size: 20px}
.overlay .closebtn {
font-size: 40px;
top: 15px;
right: 35px;
}
}
.side{
background-color:#0e2529;
z-index:2;
}
.openbtn {
position: absolute;
top: 40%;
left: 20px;
font-size: 40px;
color: white;
background-color:#0e2529;
cursor: pointer;
border: none;
} 
#carousel-2{
height: auto;
width:auto;
} 
/*-----------------------------------------sidebar nav section----------------------------------*/

/*-----------------------------------------Banner section----------------------------------*/
.bannerr{
margin-top:-5px!important;
}
.rrr{ 
padding-right:0px!important;
padding-left:0px!important;
}
.bm1{
height:80vh!important;
width: 100%;
position: relative;
}
.bannerr .text{
position: absolute;
top: 150px;
left:75px;
}
.bt21{
position: absolute;
top: 480px;
left:160px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top: 480px;
left:215px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.bt21:hover{
color:#2f125c ;
}
.bt22:hover{
color:#2f125c ;
}
.hhh{
font-size: 65px;
}
.hh{
font-size:13px;
font-weight: bold;
}
       /*-----------------------------------------services section----------------------------------*/
.service{
margin-top: 120px;
}
.service p{
font-size: 28px;
}
.b1{
margin-top: 100px;
}
.b1 p{
font-size: 14px;
}
.img{
background-image: url('../img/kk.jpg');
background-size: cover;
height:530px;
margin-left: 85px!important;
}
.p1{
margin-top: 30px;
}
h1,h6{
color: #2f125c;
}
.p2{
font-size: 13px;
color: #2f125c;
}
.p3{
margin-bottom: 30px!important;
font-size: 13px;
color: #2f125c;
}
.bb1{
margin-left: 80px!important;
}
.b1 a{
border: 1px solid #2f125c;
padding: 15px 50px;
font-size: 13px;
color: #2f125c;
margin-top: 40px!important;
margin-left: 20px!important;
font-weight: 600;
}
.service1 .row{
margin-left: 70px!important;
border: 1px solid lightgray;
padding: 70px 80px 40px 70px;
}
.service1 p{
font-size:13px; 
}
.service1 a{
font-size:12px; 
font-weight: 600;
color: darkgrey;
position: relative;
}
.service1 a{
padding-right: 50px;
  }
.service1 a::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 80px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid darkgray;
}

        /*-----------------------------------------field section----------------------------------*/
.field{
margin-top: 100px;
}
.field1{
margin-left: -100px;
}
.c-1{
height: 380px!important;
width: 800px!important;
position: relative;
}
.field .text{
position: absolute;
top: 75px;
left:75px;
padding-right: 25px;
color: white;
}
.field .text{
font-size:14px ;
}
.bt1{
font-size: 30px;
color:white;
display: inline-block;
border-radius: 50px;
box-shadow: 0px 0px 2px #888;
padding: 0.2rem 1rem;
}
.slider-bt{
background-color:#2f125c;
padding-top:190px;
}

        /*-----------------------------------------project section----------------------------------*/
.b2{
margin-top: 120px;
}
.bb2{
margin-left: 90px!important;
}
.b2 h1{
margin-left: -20px!important;
}
.b2 .p2{
margin-left: -20px!important;
}
.b2 .p3{
margin-left: -20px!important;
}
.img1{
background-image: url('../img/kk.jpg');
background-size: cover;
height:500px;
position: relative;
margin-left: 118px;
}
.img2{
background-image: url('../img/kk.jpg');
background-size: cover;
height:500px;
margin-top: -80px;
margin-left: 100px;
position: relative;
}
.d{
position: absolute;
bottom:0;
left:0;
background-color: white;
padding: 15px 50px 35px 0px;
}
.d1{
position: absolute;
bottom:0;
left:0;
background-color: white;
padding: 15px 50px 35px 0px;
}
.b2 h6{
font-weight: 500!important;
font-size: 15px;
}
.d2{
position: absolute;
bottom:0;
left:0;
background-color: white;
padding: 15px 50px 35px 0px;
}
.img3{
background-image: url('../img/kk.jpg');
background-size: cover;
height:500px;
margin-top:120px;
margin-left: 200px;
position: relative;
}
.b2 p{
font-size: 14px;
}
.b2 a{
border: 1px solid #2f125c;
padding: 15px 50px;
font-size: 13px;
color: #2f125c;
margin-top: 40px!important;
font-weight: 600;
}
        /*-------------------------------------------press section----------------------------------*/
.press{
margin-top: 150px;
}
.im1{
height: 300px!important;
position: relative;
}
.bt i{
padding-top:5px;
font-size: 30px;
color:red;
margin-top: 8px;
}
.press1 .bt i{
font-size: 30px;
color:lightgrey;
margin-top:130px;
}
.text1{
position: relative;
background-color: white;
color:#2f125c ;
z-index: 12;
margin: -5rem auto 1rem;
padding: 1rem;
width: 90%;
box-shadow: 0 .1rem .5rem 0 rgba(58,59,69,.15)!important;
}
.txt1{
font-size: 14px;
color:#2f125c;
}
.txt2{
font-size: 13px;
color:black;
}
.txt3{
font-size: 13px;
color:grey;
}
.txt4{
font-size: 12px;
color:darkgrey;
}
        /*-------------------------------------------Opportunities section----------------------------------*/
.oppor{
margin-top: 150px;
}
.tx2{
position: relative;
background-color: white;
color:#2f125c ;
z-index: 12;
margin: -5rem auto 1rem;
padding: 1rem;
width: 90%;
box-shadow: 0 .1rem .5rem 0 rgba(58,59,69,.15)!important;
}
.oppor1 .bt i{
font-size: 30px;
color:lightgrey;
margin-top:180px;
}
.car-2 h4{
font-size: 28px;
}
.car-2 p{
font-size: 12px;
color: black;
}
.car-2 a{
border: 2px solid #2f125c;
padding: 10px 15px;
font-size: 13px;
color: #2f125c;
margin-top: -50px!important;
margin-right: 15px!important;
font-weight: 600;
float: right;
}

        /*-------------------------------------------Footer  section---------------------------------------*/
.page-footer{
background-color: #e2ddeb;
position: relative;
margin-top: 150px;
}
.footer-top i{
color: #2f125c;
}
.page-footer p{
font-size: 14px;
}
.page-footer .row{
padding-top: 5px;
}
.page-footer a{
color: black;
font-size: 14px;
}
.page-footer h6{
color: black;
font-weight: bold;
}
.foot{
position: relative
}
.foot li a:hover{
color:#2f125c ;
}
.foot li i:hover{
color:#2f125c ;
}
.f1{
font-size: 16px;
font-weight: bold;
}
#f1{
font-size:26px;
font-weight: bold;
margin-top: -13px;
}
.item3 li{
border-bottom: 1px solid lightgrey
}
.input-search{
height:45px;
width:75%;
padding-left:20px;
color:#333;
border: none;
}
.btn-search{
height: 45px;
width:80px;
background-color:#2f125c;
margin-left: 3px; 
border: none; 
font-size: 13px;
font-weight: 600; 
}
.foot-bottom{
background-color: #cdcbd1;
}
.hhh{
margin-bottom: -3px!important;
}









@media only screen and (max-width: 600px){
.col-lg-11half {
flex: 0 0 100%!important;
width: 100%!important;
}
.service p{
font-size:20px!important;
margin-left:0px!important;
}
.service{
margin-top: 120px;
}
.b1{
margin-top: 20px;
}
.b1 p{
font-size: 14px;
}
.img{
background-image: url('../img/kk.jpg');
background-size: cover;
height:530px;
margin-left:0px!important;
}
.bb1{
margin-left:0px!important;
}
.p2{
font-size: 18px!important;
margin-left:8px!important;
}
.p3{
margin-bottom: 30px!important;
font-size: 18px!important;
margin-left:8px!important;
}
.b1 a{
font-size: 14px;
margin-left:20px!important;
}
.service1{
margin-top: 30px;
padding: 0px!important;
}
.service1 .row{
margin-left:0px!important;
border: 1px solid lightgray;
padding: 0px!important;
}
.s1{
margin-top: 40px;
margin-left: 20px!important;
}
.service1 p{
font-size:18px; 
}
.service1 a{
font-size:16px; 
}
.service1 a{
padding-right: 60px;
}
.service1 a::after {
left: 100px;
border-top: 2px solid darkgray;
}
.field1{
margin-left:0px!important;
margin-top:-45px!important;
z-index: 22;
}
.c-1{
margin-top: ;
height:400px!important;
width: auto!important;
position: relative;
}
.field .text{
position: absolute;
font-size: 16px;
top: 20px;
left:25px;
color: white;
}
.bt1{
font-size: 20px;
color:white;
box-shadow: none!important;
}
.carousel-indicators{
display: none!important;
}
.slider-bt{
padding-top:20px;
padding-right: 0px!important;
height:100px!important;
}
.b2{
margin-top: 100px;
}
.bb2{
margin-left:0px!important;
}
.b2 a{
font-size: 14px;
margin-left:20px!important;
}
.img1{
margin-top:30px!important;
margin-left:0px!important;
}
.img2{
margin-top:30px!important;
margin-left:0px!important;
}
.img3{
margin-top:30px!important;
margin-left:0px!important;
}
.b2 h6{
font-size:18px;
}
.b2 p{
font-size: 16px;
margin-left:8px!important;
}
.b2 .p2{
margin-left:8px!important;
}
.b2 h1{
margin-left:8px!important;
}
.b2 .p3{
margin-left:8px!important;
}
.press{
margin-top: 100px;
}
.owl-nav{
display: none!important;
}
.im1{
height: 400px!important;
position: relative;
}
.txt1{
font-size: 16px;
}
.txt2{
font-size: 15px;
}
.txt3{
font-size: 15px;
}
.txt4{
font-size: 14px;
}
.oppor{
margin-top: 100px;
}
.im2{
height: 400px;
}
.car-2 h4{
font-size:16px;
}
.car-2 a{
border:none!important;
font-size: 14px;
float: none!important;
margin-left: 10px;
}
.bm1{
height:90vh!important;
width: auto;
position: relative;
}
.bannerr .text{
position: absolute;
top: 150px;
left:35px;
}
.bt21{
position: absolute;
top:470px;
left:35px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top:470px;
left:90px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.hhh{
font-size:35px;
}
.hh{
font-size:16px;
font-weight: bold;
}
.header-top .row{
font-size: 13px;
}
.he1{
background-color:#0e2529;
height: 70px;
}
.he2{
background-color:#e2ddeb;
height: 70px; 
}
.he2 p{
padding: 0px!important;
}
.h3{
height: 70px;
}
.he1 .cal{
color: white;
position:fixed;
padding: 0px 22px;
background-color:#2f125c;
z-index: 14;
left:85px;
top:0px;
}
.cal1{
font-size:14px;
}
.cal2{
font-size:28px;
}
.hr{
position:fixed;
top:0px;
left:0px;
font-size:50px;
padding: 14px 20px;
color: white;
background-color:#0e2529;
cursor: pointer;
border: none;
}
.openbtn {
position:fixed;
top:0px;
left:0px;
font-size:50px;
padding: 14px 20px;
color: white;
background-color:#0e2529;
cursor: pointer;
border: none;
}
.he11{
display: none;
}
.he2{
display: none;
}
.he3{
display: none;
}
.he1{
height: 0px!important;
}
} 
@media only screen and (max-width: 360px){
.he2{
background-color:#e2ddeb;
height: 80px; 
}
.he2 p{
padding-left:30px!important;
}
.h3{
height:80px;
}
.bannerr .text{
position: absolute;
top: 150px;
left:55px;
}
.hr{
position: absolute;
border-bottom: 3px solid #6d888c;
width: 10%;
height: 2px;
margin-left:80px;
top: 30px;
}
.bt21{
position: absolute;
top:400px;
left:55px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top:400px;
left:110px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.hhh{
font-size:25px;
}
.hh{
padding-top: -15px!important;
font-size:13px;
font-weight: bold;
}
.field .text{
font-size:13px!important;
}
}
@media only screen and (min-width: 600px) and (max-width: 767px){
.field .col-sm-10{
flex:0 0 100%!important;
max-width: 100%;
}
.b1 .col-md-12{
flex:0 0 100%!important;
max-width: 100%;
}
.b2 .col-md-10{
flex:0 0 100%!important;
max-width: 100%;
}
.p2 .col--md-12{
flex:0 0 100%!important;
max-width: 100%;
}
.openbtn {
position:fixed;
top:0px;
left:0px;
font-size:50px;
padding: 36px 30px;
color: white;
background-color:#0e2529;
cursor: pointer;
border: none;
}
.c-1{
height: 380px!important;
width: 540px!important;
margin-left: 15px;
position: relative;
}
.field .text{
font-size:18px ;
}
.service p{
font-size: 24px!important;
margin-left: -25px!important;
}
.bb1 h1{
margin-left: -25px!important;
}
.bb1 p{
margin-left: -25px!important;
}
.b2 h1{
margin-left: -25px!important;
}
.b2 .p2{
margin-left: -25px!important;
}
.b2 .p3{
margin-left: -25px!important;
}

.bannerr{
margin-top:-5px!important;
}
.rrr{ 
padding-right:0px!important;
padding-left:0px!important;
}
.bm1{
height:80vh!important;
width: 100%;
position: relative;
}
.bannerr .text{
position: absolute;
top: 170px;
left:75px;
}
.bt21{
position: absolute;
top: 670px;
left:100px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top:670px;
left:155px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.hhh{
font-size:55px!important;
}
.hh{
font-size:24px;
font-weight: bold;
}
.header-top .row{
font-size: 13px;
}
.he1{
background-color:#0e2529;
height: 70px;
}
.he2{
background-color:#e2ddeb;
height: 70px;
width: 50%; 
}
.h3{
height: 70px;
width: 50%; 
}
.he1 .cal{
color: white;
position:fixed;
padding: 0px 22px;
background-color:#2f125c;
z-index: 14;
left:105px;
top:0px;
}
.cal1{
font-size: 22px;
}
.cal2{
font-size: 50px;
}
.hr{
position: absolute;
border-bottom: 3px solid #6d888c;
width: 20%;
height: 2px;
margin-left: 200px;
top: 30px;
display: none;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
.he1 .cal{
color: white;
position:absolute;
padding: 15px 30px 5px 30px;
background-color:#2f125c;
z-index:1;
left:270px;
}
.he11{
margin-right: 100px;
}
.cal2{
font-size: 30px;
}
.hr{
position: absolute;
border-bottom: 3px solid #6d888c;
width: 15%;
height: 2px;
margin-left:80px;
top: 30px;
}
.img {
margin-left:0px!important;
}
.bannerr{
margin-top:-5px!important;
}
.rrr{ 
padding-right:0px!important;
padding-left:0px!important;
}
.owl-nav{
display: none!important;
}
.carousel-indicators{
 display: none!important; 
}
.bm1{
height:60vh!important;
width: 100%;
position: relative;
}
.bannerr .text{
position: absolute;
top: 120px;
left:75px;
}
.bt21{
position: absolute;
top: 580px;
left:120px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top: 580px;
left:175px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.bt21:hover{
color:#2f125c ;
}
.bt22:hover{
color:#2f125c ;
}
.hhh{
font-size:55px!important;
}
.hh{
font-size:13px;
font-weight: bold;
}
.openbtn {
left: 8px;
}
.img1 {
margin-top:100px!important;
margin-left:0px!important;
}
.img3{
margin-left:0px!important;
}
.img2{
  margin-top:100px!important;
margin-left:0px!important;
}
.bb1{
margin-left:0px!important; 
}
.service1{
margin-top:100px;
}
.service1 .row{
margin-left:0px!important; 
}

.field1{
margin-left:0px;
}
.c-1{
height:500px!important;
width: 800px!important;
position: relative;
}
.field .text{
position: absolute;
top: 75px;
left:75px;
padding-right: 25px;
color: white;
}
.field .text{
font-size:20px ;
}
.bt1{
font-size: 30px;
color:white;
display: inline-block;
border-radius: 50px;
box-shadow: 0px 0px 2px #888;
padding: 0.2rem 1rem;
}
.slider-bt{
background-color:#2f125c;
padding-top:20px;
}
.bb2{
margin-left: 0px!important;
}
.service p {
 margin-left: -20px!important; 
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){

.bannerr .text{
position: absolute;
top: 200px;
left:75px;
}
.bt21{
position: absolute;
top: 780px;
left:160px;
font-size: 30px;
color:white;
padding: 8px 10px;
border: 1px solid white;
}
.bt22{
position: absolute;
top: 780px;
left:215px;
font-size: 30px;
color:white;
padding: 8px 16px 8px 16px;
border: 1px solid white;
}
.hhh{
font-size: 100px!important;
}
.hh{
font-size:28px;
font-weight: bold;
}
.he1 .cal{
color: white;
position:absolute;
padding: 15px 30px 5px 30px;
background-color:#2f125c;
z-index: 14;
left:100px;
}
.hr{
position: absolute;
border-bottom: 3px solid #6d888c;
width: 20%;
height: 2px;
margin-left:250px;
top: 30px;
}
.bm1{
height:60vh!important;
width: 100%;
position: relative;
}
.b1 a{
margin-left: 20px;
}
.img2 {
margin-top: 0px;
margin-left: 100px;
}
.img3 {
margin-left: 130px;
position: relative;
}
.img1 {
margin-left: 60px;
}
.img2 {
margin-top: 0px;
margin-left: 90px;
}
.b2 h1{
margin-left: -25px!important;
}
.b2 .p2{
margin-left: -25px!important;
}
.b2 .p3{
margin-left: -25px!important;
}
.car-2 a{
margin-top: -30px!important;
}
}

